.cta-form--profile {
  background-color: #fff;
  height: 50rem;
}

.profile-label{
  margin-bottom: 2rem !important;
}

.text-color--profile {
  color: rgb(204, 204, 207);
}

.btn-profile{
  display: flex;
  justify-content: flex-end;
}

.btn--update{
  margin-right: 2rem;
}
