.cta-form--sign-in {
  background-color: #fff;
  padding-bottom: 2.4rem;
}
.checkbox-input {
  width: 15px !important;
  height: 15px !important;
}
.password-checkbox {
  display: flex;
  justify-content: space-between;
}
.btn-sign-in {
}
