.cta-form--sign-in {
  display: block;
  background-color: #fff;
  padding-bottom: 2.4rem;
}

.log-in--label {
  text-align: center;
  margin-top: 4rem;
}

.text-color--login {
  color: blue;
}

.cta-form--sign-in {
  background-color: #fff;
  padding-bottom: 2.4rem;
  height: 50rem;
}
.checkbox-input {
  width: 15px !important;
  height: 15px !important;
  margin-right: 10px;
}
.password-checkbox {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.label-showPassword {
  margin-bottom: 0;
}
.btn-sign-in {
  padding: 0.6rem 3.2rem !important;
}
.password-check-box-container {
  display: flex;
}
