.cta-form--sign-in {
  display: block;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #fff;
  padding-bottom: 2.4rem;
}

.log-in--label {
  text-align: center;
  margin-top: 4rem;
}

.text-color--login {
  color: blue;
}

.cta-form--sign-in {
  background-color: #fff;
  padding-bottom: 2.4rem;
}
.checkbox-input {
  width: 15px !important;
  height: 15px !important;
}
.password-checkbox {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin-bottom: 12rem;
}
.btn-sign-in {
  padding: 0.6rem 3.2rem !important;
}
